<html>
    <head>
        <title> <%= title %> </title>
    </head>
    <body>
        <a href="/">Home</a>
        <p><%= messages.text %></p>
        <p>By <%= messages.username %></p>
        <p>Posted on <%= messages.added %></p>
    </body>
</html>