<form method="POST" action="/new">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="text">Text</label>
    <input type="text" id="text" name="text">
    <input type="submit">
</form>