<form method="POST" action="/new">
    <label for="user">User</label>
    <input type="text" id="user" name="user">
    <label for="text">Text</label>
    <input type="text" id="text" name="text">
    <input type="submit">
</form>